<div style="text-align:{{button_alignment}}">
<form method="post" action="/cart/add" style="display:inline-block"> 
	<input type="hidden" name="id" value="{{ product.variants.first.id }}" /> 
    <input type="submit" value="$25 - Add to Bag" class="button" style="background:{{bg_color}}" /> 
</form>
</div>