/* FLEXBOX AND ALIGNMENT CLASSES */
.wrapper-1440 {
	max-width:1440px;
    margin:0 auto;
}

.wrapper-1080 {
	max-width:1080px;
    margin:0 auto;
}

.wrapper-900 {
	max-width:900px;
    margin:0 auto;
}

.wrapper-750 {
	max-width:750px;
    margin:0 auto;
}

.wrapper-600 {
	max-width:600px;
    margin-left:auto;
    margin-right:auto;
}

.wrapper-450 {
	max-width:450px;
    margin-left:auto;
    margin-right:auto;
}

.wrapper-400 {
	max-width:400px;
  	margin:0 auto;
}

.flex-center {
	display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.text-center {
	text-align:center;
}

.flex-container {
  	display:flex;
  justify-content:space-between;
    align-items:center;
    flex-direction:column;
  @media screen and (min-width:981px) {
  	flex-direction:row;
  }
  &.row {
  	flex-direction:row;
  }
  .flex-item {
    width:100%;
    @media screen and (min-width:981px) {
  		width:45%;
  	}	
  }
  .flex-item-1 {
    flex:1;
  }
  .flex-item-3 {
    flex:1;
    @media screen and (min-width:981px) {
  		flex:3;
  	}	
  }
}

.hide-981 {
    display:none;
	@media screen and (min-width:981px) {
    	display:block;
    }
}

.container {
  .col-1-2 {
  	width:50%;
    &.__left {float:left}
    &.__right {float:right;text-align:right}
  } 
}